<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>complete CI/CD !!!</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.12.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/prashanth-1993/game-of-life.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.29.4">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean install</targets>
      <mavenName>maven</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@3.7.20190823-091836.9f85050">
      <nexusInstanceId>007</nexusInstanceId>
      <nexusRepositoryId>releases</nexusRepositoryId>
      <packages>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.wakaleo.gameoflife</groupId>
            <artifactId>gameoflife</artifactId>
            <version>$BUILD_NUMBER</version>
            <packaging>war</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/lib/jenkins/workspace/CI_CD/gameoflife-web/target/gameoflife.war</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.deploy.DeployPublisher plugin="deploy@1.15">
      <adapters>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>b0bc72f1-04a7-49d6-8ca6-19bebebc5f16</credentialsId>
          <url></url>
          <path></path>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
      </adapters>
      <war>**/*.war</war>
      <onFailure>false</onFailure>
    </hudson.plugins.deploy.DeployPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.37">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.10"/>
  </buildWrappers>
</project>